.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  color: red;
  border-bottom: 2px solid red;
}

.App-body {
  min-height: 50vh;
}
.App-footer {
  border-top: 2px solid red;
  text-align: center;
  font-style: italic;
}